<div id='records-list'>
	<div style="float:left;width:400px">

	<form>
	<input type="text" id="url"/>
	<input type="submit"/>
	</form>

    <table>
	    <tr>
	    	<td>Selecteur</td>
	    	<td>Evennement</td>
	    </tr>
        <% _.each(records, function(record){ %>
        <tr>
	    	<td>
                <%= record.get("selector") %>
            </td>
	    	<td>
                <%= record.get("event") %>
            </td>
	    </tr>
        <% }); %>
    </table>
    </div>

    <div style="float:left;width:700px">
    <iframe id='followiframe' src='<%= url_iframe %>' width='700px' height='900px'></iframe>
    </div>

    <div style="clear:both"></div>
</div>
