<style>
.none{
  display:none;
}
</style>
<div id='msg'></div>
<form id="memberform">

<label id="label-email" class="none">Email</label>
<input type="text" id="email" class="none"/>

<label id="label-abo_num" class="none">Numero d'abonne</label>
<input type="text" id="abo_num" class="none"/>
<label id="label-zipcode" class="none">Code postal</label>
<input type="text" id="zipcode" class="none"/>

<label id="label-username" class="none">Username</label>
<input type="text" id="username" class="none"/>
<label id="label-password" class="none">Password</label>
<input type="password" id="password" class="none"/>
<label id="label-repassword" class="none">Re Password</label>
<input type="password" id="repassword" class="none"/>

<input type="submit" value="Enregistrer" id="save" class="none"/>
</form>

<a id='facebook' class="none">Facebook</a>

<a id='attachment' class='none'>Attachment</a>

<a id='abo' class='none'>M'abonner</a>