<div id='msg'></div>
<form id="memberform">

<label id="label-email">Email</label>
<input type="text" id="email"/>
<label id="label-zipcode">Code postal</label>
<input type="text" id="zipcode"/>

<label id="label-username">Username</label>
<input type="text" id="username"/>
<label id="label-password">Password</label>
<input type="password" id="password"/>
<label id="label-repassword">Re Password</label>
<input type="password" id="repassword"/>

<input type="submit" value="Enregistrer" id="save"/>
</form>

<a id='facebook'>Facebook</a>